@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "My";
  src: url("../fonts/Acsiomasupershockc.otf");
}
@font-face {
  font-family: "My2";
  src: url("../fonts/Contry.ttf");
}
@font-face {
  font-family: "My3";
  src: url("../fonts/SanghaKali-Regular.otf");
}
[class*=__container] {
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background-color: rgb(85, 107, 47);
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  padding: 3.125rem 0;
  width: 100vw;
  height: auto;
}

.wrapper {
  width: 100%;
  text-align: center;
}
.wrapper h1 {
  font-family: "My3";
  font-size: 4.375rem;
  color: white;
  letter-spacing: 6px;
  margin: 6.25rem 0;
}
.wrapper button {
  background-color: white;
  padding: 0.625rem;
  font-size: 1.25rem;
}

.cart__container {
  position: relative;
  width: 100%;
  height: auto;
}

.cart-items {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.cart-total p {
  font-size: 1.875rem;
  color: white;
  margin: 1.875rem 0;
}

.cart-item-info {
  -webkit-box-shadow: 0px 0px 16px white;
          box-shadow: 0px 0px 16px white;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart-item-info h3 {
  font-size: 2.5rem;
  color: white;
  letter-spacing: 6px;
  margin: 0.625rem 0;
}

.item-price {
  font-size: 2.5rem;
  color: white;
}

.cart-item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item-image img {
  width: 12.5rem;
}

.cart-item-controls span {
  font-size: 1.875rem;
  color: white;
  margin: 0 2.5rem;
}

/* Используйте более специфичные селекторы */
.cart-item-controls .quantity-btn {
  background-color: rgb(250, 248, 248);
  /* общие стили для обеих кнопок +/- */
}

.cart-item-controls .quantity-btn.minus {
  /* специфичные стили для минуса */
  color: white;
  background-color: red;
  font-size: 1.25rem;
}

.cart-item-controls .quantity-btn.plus {
  /* специфичные стили для плюса */
  color: white;
  background-color: green;
}

.cart-item-controls .remove-btn {
  background-color: red;
  color: rgb(248, 245, 245);
  /* дополнительные стили */
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

.item-total {
  font-size: 1.875rem;
  color: white;
  margin: 0 1.875rem;
}

button + .clear-corzina {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1.875rem;
  -webkit-box-shadow: 0px 0px 36px red inset;
          box-shadow: 0px 0px 36px red inset;
}
button + .clear-corzina:hover {
  -webkit-box-shadow: 0px 0px 36px red, 0px 0px 36px red inset;
          box-shadow: 0px 0px 36px red, 0px 0px 36px red inset;
}