.footer {
  width: 100%;
  margin-top: 3.125rem;
  padding: 6.25rem 0;
}
.footer__container {
  width: 100%;
}
.footer__add--box {
  width: 100%;
}

.panel {
  text-align: center;
}
.panel h2 {
  font-family: "My3";
  letter-spacing: 5px;
  color: #333333;
  font-size: 3.125rem;
}
.panel__admin {
  padding: 3.125rem 0;
}

.adds {
  text-align: center;
}

.form__block {
  display: none;
  text-align: center;
}
.form__block label {
  color: #333333;
  text-shadow: 0px 0px 6px white;
  font-size: 1.5rem;
}
.form__block input,
.form__block textarea {
  margin-top: 1.875rem;
  font-size: 1.25rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
}

.form__block--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.adnbtn {
  padding: 0.625rem;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  -webkit-box-shadow: 0px 0px 6px greenyellow;
          box-shadow: 0px 0px 6px greenyellow;
}
.adnbtn:hover {
  -webkit-box-shadow: 0px 0px 6px greenyellow inset;
          box-shadow: 0px 0px 6px greenyellow inset;
}

#price,
#cost,
#availability {
  width: 6.25rem;
}

.change--password {
  width: 100%;
  height: auto;
  padding: 3.125rem 0;
  margin-top: 3.125rem;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
.change--password label {
  color: blue;
  font-size: 1.875rem;
  text-shadow: 0px 0px 16px white;
}
.change--password input {
  margin: 0 1.875rem;
}
.change--password button {
  background-color: blue;
  padding: 0.625rem;
  color: white;
}