.header {
  width: 100vw;
  height: auto;
  padding: 0.625rem 3.125rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__nav--admin {
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav--admin button {
  width: 9.375rem;
  height: 3.125rem;
  padding: 0.625rem;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  color: white;
  font-size: 1.5rem;
  background-color: rgba(0, 128, 0, 0);
  -webkit-box-shadow: 0px 0px 12px gold inset;
          box-shadow: 0px 0px 12px gold inset;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.header__nav--admin button:hover {
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
}
.header__nav--admin button:hover + .admin--info {
  display: block;
  z-index: 999;
}
.header__nav--form {
  opacity: 0;
}
.header__nav--form button {
  padding: 0.625rem;
  font-size: 1.5rem;
  background-color: rgba(0, 128, 0, 0);
  color: white;
  border-radius: 0.625rem;
}
.header__nav--form .enter {
  margin: 0 1.25rem;
  -webkit-box-shadow: 0px 0px 12px gold inset;
          box-shadow: 0px 0px 12px gold inset;
}
.header__nav--form .enter:hover {
  -webkit-box-shadow: 0px 0px 22px gold;
          box-shadow: 0px 0px 22px gold;
}
.header__nav--form .off--admin {
  -webkit-box-shadow: 0px 0px 22px rgb(233, 8, 8) inset;
          box-shadow: 0px 0px 22px rgb(233, 8, 8) inset;
  border: 0px 0px solid red;
}
.header__nav--form .off--admin:hover {
  -webkit-box-shadow: 0px 0px 42px rgb(233, 8, 8);
          box-shadow: 0px 0px 42px rgb(233, 8, 8);
}
.header__nav--form label {
  font-size: 1.5rem;
  color: white;
}
.header__nav--form input {
  width: 6.25rem;
  padding: 0.625rem;
  font-size: 1.5rem;
  border-radius: 0.625rem;
}
.header__nav--form input:hover {
  background-color: rgb(172, 178, 172);
}
.header__nav--nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 1.5rem;
}
.header__nav--nav a {
  color: white;
  font-size: 1.5rem;
}

.admin--info {
  display: none;
  position: absolute;
  top: -200%;
  left: 0;
  width: 300%;
  padding: 0.625rem;
  background-color: rgb(247, 251, 247);
}
.admin--info p {
  font-size: 1.5rem;
}

.header__nav--korz {
  position: fixed;
  top: 5%;
  right: 0%;
  width: 5rem;
}
.header__nav--korz button {
  background-color: rgba(255, 255, 255, 0);
}
.header__nav--korz button:hover + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav--korz img {
  width: 100%;
}
.header__nav--korz div {
  position: absolute;
  top: 120%;
  left: -150%;
  width: 220%;
  border: 1px solid white;
  background-color: rgba(10, 168, 134, 0.547);
  padding: 0.625rem;
  display: none;
  text-align: center;
}

.contact--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.co--img {
  width: 6.25rem;
  overflow: hidden;
}
.co--img img {
  width: 1.25rem;
  margin-left: -50%;
  -webkit-animation: str 3s infinite ease-in-out;
          animation: str 3s infinite ease-in-out;
}

@-webkit-keyframes str {
  0% {
    margin-left: -45%;
  }
  100% {
    margin-left: 110%;
  }
}

@keyframes str {
  0% {
    margin-left: -45%;
  }
  100% {
    margin-left: 110%;
  }
}
.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.all img {
  width: 2.1875rem;
  -webkit-animation: bl 1s ease-in-out infinite;
          animation: bl 1s ease-in-out infinite;
}

@-webkit-keyframes bl {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bl {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}