.main {
  margin-top: 3.125rem;
}
.main__cards {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.item--name,
.item--foto,
.item--about,
.item--availability {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item--prize {
  position: relative;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item--prize div {
  position: absolute;
  top: 100%;
  text-align: center;
  border: 1px solid white;
  padding: 0.625rem;
  display: none;
}
.item--prize div p {
  font-size: 1.25rem;
}

.item--card {
  width: 100%;
  padding: 1.25rem 0;
  position: relative;
}
.item--card:hover {
  background-color: rgba(255, 255, 255, 0.026);
  z-index: 999;
}
.item--card::before, .item--card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 16px;
  pointer-events: none;
}
.item--card::before {
  top: -15px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.item--card::after {
  bottom: -15px;
  -webkit-box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.3);
}

.item--info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info--public {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item--name p {
  font-size: 2.375rem;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0px 0px 16px black;
}

.item--prize p {
  font-size: 2.375rem;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0px 0px 16px black;
}
.item--prize img {
  width: 1.875rem;
  background-color: rgb(247, 251, 247);
  border-radius: 50%;
}

.item--foto {
  width: 9.375rem;
}
.item--foto img {
  width: 100%;
  border-radius: 1.25rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.item--foto img:hover {
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
  z-index: 2;
}

.item--about {
  position: relative;
}

.description {
  position: absolute;
  display: none;
  width: 200%;
  height: auto;
  top: 4.375rem;
  left: -3.75rem;
  padding: 0.625rem;
  background-color: rgb(247, 251, 247);
  text-align: center;
  z-index: 999;
}
.description p {
  color: black;
  background-color: white;
  font-size: 1.625rem;
}

.item--availability {
  font-size: 2.375rem;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0px 0px 16px black;
}

.info--admin {
  margin-top: 3.125rem;
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.admin--delite button,
.admin--status button {
  padding: 0.625rem;
  font-size: 1.5rem;
  color: white;
}
.admin--delite button:hover,
.admin--status button:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.del {
  -webkit-box-shadow: 0px 0px 26px red inset;
          box-shadow: 0px 0px 26px red inset;
  background-color: rgba(255, 255, 255, 0);
}

.stat {
  background-color: blue;
}

.ab {
  font-size: 1.75rem;
  padding: 0.625rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  -webkit-box-shadow: 0px 0px 6px gold;
          box-shadow: 0px 0px 6px gold;
  border-radius: 0.625rem;
}
.ab:hover {
  -webkit-box-shadow: 0px 0px 16px gold inset;
          box-shadow: 0px 0px 16px gold inset;
}

.korz--btn {
  width: 3.125rem;
  background-color: rgba(255, 255, 255, 0);
}
.korz--btn img {
  width: 100%;
}

.admin--date p {
  font-size: 1.375rem;
  text-shadow: 0px 0px 16px blue;
  color: white;
}