@charset "UTF-8";
/*Обнуление*/
@import "../css/header.css";
@import "../css/main.css";
@import "../css/footeradmin.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --h1-size: 16px;
  --h2-size: 16px;
  --h3-size: 16px;
  --ather-font-size: 18px;
  --primary-color: white;
  --secondary-color: black;
  --background-color: white;
}

@font-face {
  font-family: "My";
  src: url("../fonts/Acsiomasupershockc.otf");
}
@font-face {
  font-family: "My2";
  src: url("../fonts/Contry.ttf");
}
@font-face {
  font-family: "My3";
  src: url("../fonts/SanghaKali-Regular.otf");
}
[class*=__container] {
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background-color: #e6f0fa;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  padding: 12.5rem 0;
  top: 0;
  left: 0;
  background-attachment: fixed;
}

.olx__container {
  text-align: center;
}
.olx__container h1 {
  color: #333333;
  font-size: 4.375rem;
  font-family: "MyCustomFont";
}
.olx__container span {
  color: #514f4f;
  font-family: "My";
}

.pepexod {
  width: 100%;
  height: 6.25rem;
  margin-top: 12.5rem;
  background-image: url("../fons/d1.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}