@import "./null.scss";
@import "./basestyle.scss";

@function toRem($value) {
	$baseFontSize: 16;
	@return ($value/$baseFontSize) * 1rem;
}
//.......................................................................................

$maxWidth: 1920;

@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (min-width: toRem(1920)) {
		#{$property}: #{$pcSize + px};
	}

	@media (max-width: toRem(1920)) {
		@media (max-width: 1920px) {
			#{$property}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 767px) / #{$maxWidth}));
		}
	}
}
// @include adaptiveValue ($property , $pcSize, $mobSize);

//.......................................................................................

//.......................................................................................

[class*="__container"] {
	max-width: 1680px;
	padding: 0 20px;
	margin: 0 auto;
}

// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

body {
	background-color: rgb(85, 107, 47);
	background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
	padding: toRem(50) 0;
	width: 100vw;
	height: auto;
}

.wrapper {
	width: 100%;
	text-align: center;

	& h1 {
		font-family: "My3";
		font-size: toRem(70);
		color: white;
		letter-spacing: 6px;
		margin: toRem(100) 0;
	}
	& button {
		background-color: white;
		padding: toRem(10);
		font-size: toRem(20);
	}
}
.cart {
	&__container {
		width: 100%;
		height: auto;
	}
}
.cart-items {
	width: 100%;
	height: auto;
	display: flex;
	padding: toRem(20);
	// box-shadow: 0px 0px 16px white;
	flex-direction: column;
	row-gap: toRem(30);
}

.cart-total {
	& p {
		font-size: toRem(30);
		color: white;
		margin: toRem(30) 0;
	}
}

.cart-item-info {
	box-shadow: 0px 0px 16px white;
	padding: toRem(20);
	display: flex;
	align-items: center;
	justify-content: space-between;
	& h3 {
		font-size: toRem(40);
		color: white;
		letter-spacing: 6px;
		margin: toRem(10) 0;
	}
}
.item-price {
	font-size: toRem(40);
	color: white;
}

.cart-item-controls{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart-item-image {
	& img {
		width: toRem(200);
	}
}

.cart-item-controls span {
	font-size: toRem(30);
	color: white;
	margin: 0 toRem(40);
}

/* Используйте более специфичные селекторы */
.cart-item-controls .quantity-btn {
	background-color: rgb(250, 248, 248);
	/* общие стили для обеих кнопок +/- */
}

.cart-item-controls .quantity-btn.minus {
	/* специфичные стили для минуса */
	color: white;
	background-color: red;
	font-size: toRem(20);
}

.cart-item-controls .quantity-btn.plus {
	/* специфичные стили для плюса */
	color: white;
	background-color: green;
}
.cart-item-controls .remove-btn {
	background-color: red;
	color: rgb(248, 245, 245);
	/* дополнительные стили */
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
}
.item-total{
	font-size: toRem(30);
	color: white;
	margin:0 toRem(30) ;
}