@import "null.scss";

// @import "../scss/header.scss";  не этот -scss - а ниже -css
@import "../css/header.css";
@import "../css/main.css";
@import "../css/footeradmin.css";

// подключать только если есть в этих файлах данные. пустыми не подключать !!
@import "var.scss";
@import "basestyle.scss";

//.......................................................................................

@function toRem($value) {
	$baseFontSize: 16;
	@return ($value/$baseFontSize) * 1rem;
}

//.......................................................................................

$maxWidth: 1920;

@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (min-width: toRem(1920)) {
		#{$property}: #{$pcSize + px};
	}

	@media (max-width: toRem(1920)) {
		@media (max-width: 1920px) {
			#{$property}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 767px) / #{$maxWidth}));
		}
	}
}
// @include adaptiveValue ($property , $pcSize, $mobSize);

//.......................................................................................

//   Центрирование блока

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

// @include flexCenter;

//.......................................................................................

[class*="__container"] {
	max-width: 1680px;
	padding: 0 20px;
	margin: 0 auto;
}

// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

body {
	background-color: rgb(85, 107, 47);
	background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
	padding: toRem(50) 0;
	// width: 100vw;
	// height: 100vh;
}

.olx {
	margin: toRem(100) 0;
	&__container {
		text-align: center;

		& h1 {
			color: white;
			font-size: toRem(70);
			font-family: "MyCustomFont";
		}

		& span {
			color: gold;
			font-family: "My";
		}
	}
}
.pepexod {
	width: 100%;
	height: toRem(100);
	margin-top: toRem(200);
	background-image: url("../fons/d1.png");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
}
