
// !!!!!  ВСЕ  параметры переписать вручную  ---  НЕ КОПИРОВАТЬ !!!!!


// .playfair-display-sc-black-italic {
// 	font-family: "Playfair Display SC", serif;
// 	font-weight: 900;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: "MyCustomFont";
// 	src: url("../fonts/EnglishRose.woff2") format("woff2");
// }


@font-face {
	font-family: "My";
	src: url("../fonts/Acsiomasupershockc.otf");
}

@font-face{
	font-family: "My2";
	src: url("../fonts/Contry.ttf");
}
